[submodule "client"]
	path = client
	url = https://github.com/huanniangstudio/df-client
[submodule "eth"]
	path = eth
	url = https://github.com/huanniangstudio/df-eth
[submodule "circuits"]
	path = circuits
	url = https://github.com/huanniangstudio/df-circuits.git
[submodule "packages"]
	path = packages
	url = https://github.com/huanniangstudio/df-packages
